.version._2014 /* version checker */
{
	color: #0000F7;
	background-color: #B04416;
}

.html
{
	background-color: #39393A;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -28px;
}

#u849
{
	z-index: 2;
	width: 960px;
	margin-right: -10000px;
}

#menuu512
{
	z-index: 4;
	width: 153px;
	height: 37px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 787px;
}

.ie #menuu512
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu3173
{
	z-index: 13;
	width: 180px;
	margin-right: -10000px;
	margin-top: 11px;
}

#u3285
{
	width: 180px;
	min-height: 51px;
	margin-right: -10000px;
}

#u3286
{
	width: 180px;
	padding-bottom: 25px;
}

#u3286:hover
{
	margin: 0px;
}

#u3286:active
{
	margin: 0px;
}

#u3288-4
{
	width: 166px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 12px;
	left: 5px;
}

#u3286:hover #u3288-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u3286:active #u3288-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu3327
{
	z-index: 20;
	width: 148px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 181px;
}

#u3342
{
	width: 148px;
	min-height: 51px;
	margin-right: -10000px;
}

#u3343
{
	width: 148px;
	padding-bottom: 25px;
}

#u3286.MuseMenuActive,#u3343:hover
{
	margin: 0px;
}

#u3343:active
{
	margin: 0px;
}

#u3346-4
{
	width: 134px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 12px;
	left: 5px;
}

#u3286.MuseMenuActive #u3288-4,#u3343:hover #u3346-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u3343:active #u3346-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu3393
{
	z-index: 27;
	width: 155px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 486px;
}

#u3411
{
	width: 155px;
	padding-bottom: 25px;
}

#u3343.MuseMenuActive,#u3411:hover
{
	margin: 0px;
}

#u3411:active
{
	margin: 0px;
}

#u3412-4
{
	width: 141px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 12px;
	left: 5px;
}

#u3343.MuseMenuActive #u3346-4,#u3411:hover #u3412-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u3411:active #u3412-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u3460
{
	width: 155px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3460:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3462-4
{
	width: 147px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u3460:hover #u3462-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3487
{
	width: 155px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3489-4
{
	width: 147px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u3460.MuseMenuActive #u3462-4,#u3487:hover #u3489-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#menuu7495
{
	z-index: 48;
	width: 155px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 330px;
}

#u3408,#u7496
{
	width: 155px;
	min-height: 51px;
	margin-right: -10000px;
}

#u7513
{
	width: 155px;
	padding-bottom: 25px;
}

#u3411.MuseMenuActive,#u7513:hover
{
	margin: 0px;
}

#u7513:active
{
	margin: 0px;
}

#u7516-4
{
	width: 141px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 12px;
	left: 5px;
}

#u3411.MuseMenuActive #u3412-4,#u7513:hover #u7516-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u7513:active #u7516-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u3409,#u7497
{
	width: 155px;
	top: 51px;
}

#u7509
{
	width: 155px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u3460.MuseMenuActive,#u3487.MuseMenuActive,#u7509:hover
{
	margin: 0px -10000px 0px 0px;
}

#u7512-4
{
	width: 147px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u3487.MuseMenuActive #u3489-4,#u7509:hover #u7512-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7500
{
	width: 155px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u7501-4
{
	width: 147px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u7509.MuseMenuActive #u7512-4,#u7500:hover #u7501-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7548
{
	width: 155px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u7549-4
{
	width: 147px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u7500.MuseMenuActive #u7501-4,#u7548:hover #u7549-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7541
{
	width: 155px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u7542-4
{
	width: 147px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u7548.MuseMenuActive #u7549-4,#u7541:hover #u7542-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3410,#u3459,#u3486,#u7498,#u7506,#u7499,#u7547,#u7540,#u7533
{
	width: 155px;
}

#u7534
{
	width: 155px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u7509.MuseMenuActive,#u7500.MuseMenuActive,#u7548.MuseMenuActive,#u7541.MuseMenuActive,#u7534.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u7535-4
{
	width: 147px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u7541.MuseMenuActive #u7542-4,#u7534:hover #u7535-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7534.MuseMenuActive #u7535-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#menuu3437
{
	z-index: 87;
	width: 154px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 641px;
}

#u3452
{
	width: 154px;
	min-height: 51px;
	margin-right: -10000px;
}

#u3453
{
	width: 154px;
	padding-bottom: 25px;
}

#u7513.MuseMenuActive,#u3453:hover
{
	margin: 0px;
}

#u3453:active
{
	margin: 0px;
}

#u3454-4
{
	width: 140px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 12px;
	left: 5px;
}

#u7513.MuseMenuActive #u7516-4,#u3453:hover #u3454-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u3453:active #u3454-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#menuu3516
{
	z-index: 94;
	width: 168px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 792px;
}

#u3531
{
	width: 168px;
	min-height: 51px;
	margin-right: -10000px;
}

#u3534
{
	width: 168px;
	padding-bottom: 25px;
}

#u3453.MuseMenuActive,#u3534:hover
{
	margin: 0px;
}

#u3534:active
{
	margin: 0px;
}

#u3534.MuseMenuActive
{
	margin: 0px;
}

#u3535-4
{
	width: 154px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 12px;
	left: 5px;
}

#u3453.MuseMenuActive #u3454-4,#u3534:hover #u3535-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u3534:active #u3535-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u3534.MuseMenuActive #u3535-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#pu908
{
	width: 0.01px;
	margin-left: 43px;
	margin-top: 1px;
}

#u908
{
	z-index: 11;
	width: 163px;
	margin-right: -10000px;
}

#ppu7566-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 212px;
}

#u7566-4
{
	z-index: 172;
	width: 309px;
	min-height: 51px;
	background-color: transparent;
	font-size: 29px;
	color: #8CC63F;
	font-family: Baskerville, Georgia, Cambria, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u7567
{
	z-index: 176;
	width: 420px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #8CC63F;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 249px;
}

#slideshowu7385
{
	z-index: 118;
	width: 0.01px;
	height: 362px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u7389popup
{
	z-index: 119;
}

#u7680
{
	z-index: 120;
	width: 449px;
	height: 330px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-right: -10000px;
	position: relative;
}

#u7689
{
	z-index: 122;
	width: 449px;
	height: 330px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-right: -10000px;
	position: relative;
}

#u7698
{
	z-index: 124;
	width: 449px;
	height: 330px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-right: -10000px;
	position: relative;
}

#u7680_img,#u7698_img
{
	padding-left: 115px;
	padding-right: 114px;
}

#u7396popup
{
	z-index: 126;
}

#u7683
{
	z-index: 127;
	width: 66px;
	height: 48px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u7692
{
	z-index: 129;
	width: 66px;
	height: 48px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 74px;
}

#u7692_img
{
	margin-left: -3px;
	margin-right: -3px;
}

#u7701
{
	z-index: 131;
	width: 66px;
	height: 48px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 143px;
}

#u7405-4popup
{
	z-index: 133;
}

#u7388-4popup
{
	z-index: 137;
}

#u7410-4popup
{
	z-index: 141;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u7384-8
{
	z-index: 101;
	width: 215px;
	min-height: 126px;
	background-color: transparent;
	color: #5B5B5B;
	font-family: Baskerville, Georgia, Cambria, Times, Times New Roman, serif;
	top: -325px;
	margin-bottom: -126px;
	position: relative;
}

#pu8560
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: -198px;
}

#u8560
{
	z-index: 177;
	width: 209px;
	border-style: none;
	border-color: transparent;
	background-color: #39393A;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u8561-38
{
	z-index: 178;
	width: 178px;
	min-height: 980px;
	background-color: transparent;
	font-size: 14px;
	color: #8CC63F;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 17px;
}

#u8561-2,#u8561-8
{
	font-weight: bold;
}

#u8561-3,#u8561-6,#u8561-7,#u8561-9,#u8561-10,#u8561-12,#u8561-18,#u8561-20
{
	text-align: left;
	font-style: normal;
}

#u8561-14,#u8561-22,#u8561-23
{
	text-align: left;
	font-style: italic;
}

#u8561-15,#u8561-17,#u8561-25
{
	text-align: left;
	font-weight: bold;
	font-style: normal;
}

#u8561-34
{
	text-decoration: underline;
}

#slideshowu7633
{
	z-index: 145;
	width: 0.01px;
	height: 362px;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 229px;
}

#u7389,#u7641
{
	position: absolute;
	width: 449px;
	height: 330px;
	background-color: transparent;
	left: 235px;
}

#u7641popup
{
	z-index: 146;
}

#u7646
{
	z-index: 147;
	width: 449px;
	height: 330px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-right: -10000px;
	position: relative;
}

#u7646_img
{
	padding-left: 5px;
	padding-right: 4px;
}

#u7642
{
	z-index: 149;
	width: 449px;
	height: 330px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-right: -10000px;
	position: relative;
}

#u7642_img
{
	padding-left: 55px;
	padding-right: 56px;
}

#u7644
{
	z-index: 151;
	width: 449px;
	height: 330px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	margin-right: -10000px;
	position: relative;
}

#u7680 .clip_frame,#u7689 .clip_frame,#u7698 .clip_frame,#u7646 .clip_frame,#u7642 .clip_frame,#u7644 .clip_frame
{
	-webkit-border-radius: 20px 20px 20px 20px;
}

#u7644_img
{
	padding-left: 61px;
	padding-right: 60px;
}

#u7396,#u7634
{
	position: absolute;
	width: 215px;
	background-color: transparent;
	padding-bottom: 58px;
	top: 199px;
}

#u7634popup
{
	z-index: 153;
}

#u7639
{
	z-index: 154;
	width: 66px;
	height: 48px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u7692_clip,#u7639_clip
{
	overflow: hidden;
	width: 66px;
	height: 48px;
}

#u7639_img
{
	margin-top: -1px;
}

#u7635
{
	z-index: 156;
	width: 66px;
	height: 48px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 74px;
}

#u7637
{
	z-index: 158;
	width: 66px;
	height: 48px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 143px;
}

#u7683.SSSlideLinkSelected,#u7692.SSSlideLinkSelected,#u7701.SSSlideLinkSelected,#u7639.SSSlideLinkSelected,#u7635.SSSlideLinkSelected,#u7637.SSSlideLinkSelected
{
	margin: 4px -10000px 0px 0px;
}

#u7683 .clip_frame,#u7692 .clip_frame,#u7701 .clip_frame,#u7639 .clip_frame,#u7635 .clip_frame,#u7637 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u7405-4,#u7658-4
{
	position: absolute;
	width: 18px;
	min-height: 12px;
	background-color: transparent;
	padding: 6px;
	font-size: 10px;
	color: #39393A;
	text-align: right;
	top: 337px;
	left: 614px;
}

#u7658-4popup
{
	z-index: 160;
}

#u7388-4,#u7653-4
{
	position: absolute;
	width: 8px;
	min-height: 12px;
	background-color: transparent;
	padding: 6px;
	font-size: 10px;
	color: #39393A;
	text-align: right;
	top: 337px;
	left: 654px;
}

#u7653-4popup
{
	z-index: 164;
}

#u7410-4,#u7657-4
{
	position: absolute;
	width: 33px;
	min-height: 12px;
	background-color: transparent;
	padding: 6px;
	font-size: 10px;
	color: #39393A;
	text-align: center;
	top: 339px;
	left: 453px;
}

#u7657-4popup
{
	z-index: 168;
}

#u7632-9
{
	z-index: 109;
	width: 215px;
	min-height: 126px;
	background-color: transparent;
	color: #5B5B5B;
	font-family: Baskerville, Georgia, Cambria, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 229px;
}

#u7384-2,#u7632-2
{
	font-size: 26px;
}

#u7384-4,#u7384-6,#u7632-4,#u7632-7
{
	font-size: 18px;
}

#u8561-5,#u7632-6
{
	font-style: italic;
}

#u8605
{
	z-index: 216;
	width: 960px;
	height: 20px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#pu849,#pu7566-4,#pu874
{
	width: 0.01px;
}

#u874
{
	z-index: 5;
	width: 960px;
	margin-right: -10000px;
}

#u876-4
{
	z-index: 7;
	width: 295px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 27px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

